<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ititraining.rahlati">


    <uses-permission android:name="android.permission.INTERNET" />
    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />
<!--  Permission required to draw floating widget over other apps  -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />    

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".Rahlati"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rahlati">


        <activity android:name=".ui.history.HistoryNotesActivity"></activity>
        <activity android:name=".NoteActivity" />

        <activity android:name=".FacebookSignin"></activity>
        <activity android:name=".TwitterSignin" />
        <activity android:name=".GoogleSignin" />
        <activity android:name=".Register" />
        <activity android:name=".LoginActivity" />

        <activity
            android:name=".alertbox"
            android:exported="true" />
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity android:name=".SetTripActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rahlati.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>